.game {
  display: flex;
  flex-direction: column;
  width: 98vh;
  height: 98vh;
}
.boards {
  display: flex;
  flex-direction: row;
  flex: 10;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
  height: 50%;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cell {
  flex: 1;
  background-color: transparent;
  margin: 1px;
}

.board-game .cell.cell-is-on.cell-is-checked, .board-control .cell.cell-is-on {
  background: url(http://fc00.deviantart.net/fs71/i/2010/118/0/0/Severed_zombie_head_by_BOULARIS.jpg);
  background-size: 100% 100%;
  background-color: red;
}

.board-control .cell {
  background-color: transparent
;
}

.cell:hover{
  background-color: red;
}

.btn {
  border: none;
  flex: 1;
} 

body {
  background: url(https://pbs.twimg.com/profile_images/427382495/zombie-horde.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo {
  max-height: 15%;
}

.startButton {
  cursor: pointer;
  display: block;
  appearance: none;
  border-radius: 0;
  background: red;
  border: 0;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: black;
}

.startButton:hover:not(:disabled) {
  box-shadow: 5px 5px 5px black;
}

.startButton:disabled {
  cursor: auto;
  background: grey;
  opacity: 0.50;

}
